  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');


body {
    max-width: 1440px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 500;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.first-card {
    background-color: violet;
    grid-column: 1;
    grid-row: 1;
}

.second-card {
    background-color: hsl(217, 19%, 35%);
    grid-column: 2;
    grid-row: 1;
}

.third-card {
    background-color: hsl(0, 0%, 100%);
    grid-column: 1;
    grid-row: 2;
}

.foorth-card {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2;
    grid-row: 2;
}

.fifth-card {
    background-color: hsl(0, 0%, 100%);
    grid-column: 3;
    grid-row: span 2;
}

.card-head {
    display: flex;
}

.card-paragraph {

}


